body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #E5EFF5;
}

.simple_pricing_grid {

   display: grid; 

}

.grid_element {
   font-family: 'Karla';
}

#top {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row: 1;
}

#bottom_left {
   grid-row: 2;
   grid-column: 1;
}

#bottom_right {
   grid-row: 2;
   grid-column: 2;
}


